#include <winresrc.h>
#include "resource_definition.h"

CONFIG DIALOG 0, 0, 215, 108
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "F-ZERO GX 用スピードメータ読み取り機の設定"
FONT 9, "ＭＳ Ｐゴシック"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 44, 88, 52, 14
 CONTROL "キャンセル", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 114, 88, 52, 14
 CONTROL "ウィンドウ  x:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 11, 40, 8
 CONTROL "", IDC_X, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 45, 9, 22, 12
 CONTROL ", y:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 69, 11, 9, 8
 CONTROL "", IDC_Y, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 78, 9, 22, 12
 AUTOCHECKBOX "出力時にプレビューを表\示", IDC_PREVIEW, 8, 26, 100, 8
 AUTOCHECKBOX "競合時ダイアログで人力確認", IDC_DIALOG, 8, 38, 100, 8
 AUTOCHECKBOX "評価値", IDC_DIALOG_EVAL, 23, 50, 32, 8
 CONTROL "", IDC_DIALOG_EVAL_LIM, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 55, 48, 20, 12
 CONTROL "以下でも確認", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 76, 50, 50, 8
 AUTOCHECKBOX "常に確認", IDC_DIALOG_ALWAYS, 23, 62, 100, 8
 CONTROL "スレッド数", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 120, 11, 37, 8
 CONTROL "", IDC_NTH, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 157, 9, 22, 12
 AUTOCHECKBOX "フレーム番号を出力", IDC_FRAME, 120, 23, 100, 8
 CONTROL "オフセット", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 135, 36, 32, 8
 CONTROL "", IDC_OFFSET, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 172, 34, 22, 12
 CONTROL "区切り文字", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 135, 49, 37, 8
 AUTORADIOBUTTON "スペース", IDC_SPACE, 172, 49, 40, 8, WS_GROUP
 AUTORADIOBUTTON "コンマ", IDC_COMMA, 172, 61, 32, 8
 AUTORADIOBUTTON "タブ", IDC_TAB, 172, 73, 32, 8
}

PREVIEW DIALOG 0, 0, 128, 102
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ウィンドウチェックプレビュー"
FONT 9, "ＭＳ Ｐゴシック"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 80, 52, 14
 CONTROL "出力中止", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 68, 80, 52, 14
 CONTROL "ウィンドウ左上隅座標", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 9, 65, 8
 CONTROL "x:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 24, 6, 8
 CONTROL "", IDC_X, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 22, 23, 12
 CONTROL "－", IDC_XLEFT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 14, 35, 10, 10
 CONTROL "＋", IDC_XRIGHT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 26, 35, 10, 10
 CONTROL "y:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 40, 24, 6, 8
 CONTROL "", IDC_Y, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 46, 22, 23, 12
 CONTROL "－", IDC_YLEFT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 46, 35, 10, 10
 CONTROL "＋", IDC_YRIGHT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 58, 35, 10, 10
 CONTROL "フレーム番号:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 53, 40, 8
 CONTROL "", IDC_FRAME, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 47, 50, 22, 12
 CONTROL "－", IDC_FLEFT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 46, 63, 10, 10
 CONTROL "＋", IDC_FRIGHT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE, 58, 63, 10, 10
 CONTROL "見本", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 90, 28, 40, 8
 CONTROL "プレビュー", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 83, 64, 64, 8
}

CORRECT DIALOG 0, 0, 47, 46
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "人力確認"
FONT 16, "ＭＳ Ｐゴシック"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 2, 30, 20, 12
 CONTROL "中断", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 30, 20, 12
 CONTROL "", IDC_EDIT, "edit", ES_RIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 13, 16, 20, 12
}

FFCK BITMAP "ffck.bmp"
